body {
  background-image: url('../imgs/bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #465f71;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.reel {
  font-weight: 600;
  color: #ffc000;
}

/* LANDING VIEW */

.landing-view {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 11%;
}

.landing-search {
  position: relative;
  border: 1px solid #FFF;
  padding: 1%;
}

.landing-search input {
  width: 92%;
  background-color: transparent;
  border: 0;
  font-size: 1.8em;
  color: #fff;
}

.landing-search input::-webkit-input-placeholder {
  color: #FFF;
}

.landing-search input:-moz-placeholder {
  color: #FFF;
}

.landing-search input::-moz-placeholder {
  color: #FFF;
}

.landing-search input:-ms-input-placeholder {
  color: #FFF;
}

.landing-search input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#searchicon {
  margin: 0;
  width: 25px;
}

#landing-page-text {
  font-size: 4em;
  padding: 0;
  margin-bottom: 0;
  color: #fff;
}

#landing-wheel {
  width: 65px;
  padding-right: 1%;
}

/* HEADING & MOVIE CONTAINER */

.heading {
  text-align: center;
  padding: 1% 0;
  font-size: 2.5em;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
}

.movie-container {
  padding: 2.5% 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.movie-results {
  width: 100%;
}

.movie {
  padding: 1%;
  width: 20%;
  height: 300px;
  overflow: hidden;
  display: inline-block;
}

.movie img {
  width: 100%;
}

.movie-container input {
  width: 80%;
  background-color: transparent;
  border: 1;
  font-size: 1.5em;
  color: #000;
}