body {
  background-image: url('../imgs/bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.reel {
  font-weight: 600;
  color: #ffc000;
}

/* LANDING VIEW */

.landing-view {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 11%;
}

.landing-search {
  position: relative;
  border: 1px solid #FFF;
  padding: 1%;
}

.landing-search input {
  width: 92%;
  background-color: transparent;
  border: 0;
  font-size: 1.8em;
  color: #fff;
}

.landing-search input::-webkit-input-placeholder {
  color: #FFF;
}

.landing-search input:-moz-placeholder {
  color: #FFF;
}

.landing-search input::-moz-placeholder {
  color: #FFF;
}

.landing-search input:-ms-input-placeholder {
  color: #FFF;
}

#searchicon {
  margin: 0;
  width: 25px;
}

#landing-page-text {
  font-size: 4em;
  padding: 0;
  margin-bottom: 0;
  color: #fff;
}

#landing-wheel {
  width: 65px;
  padding-right: 1%;
}